* {
	box-sizing: border-box !important;
}

body {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	max-width: 1200px;
}

figure {
	padding: 0;
	margin: 0;
}


/*HEADER*/

header {
	overflow: auto;
	border-bottom: 3px solid #7d97ad;
	padding-bottom: 20px;
	position: relative;
	min-height: 120px;
	width: 100%;
}

.header__logo {
	width: 100px;
	height: 100px;
	float: left;
}

.header__person-info__title,
.header__person-info__job {
	float: right;
	text-transform: uppercase;
	max-width: calc(100% - 120px);
		transition: 0.3s;
		text-align: right;
		text-align: end;
}

.header__person-info__title {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: 200;
	float: right;
	font-size: 24px;
}

.header__person-info__job {
	font-weight: 400;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	position: absolute;
	bottom: 0;
	right: 0;
}


/*COVER SECTION*/

.cover-section {
	width: 100%;
}

.cover-section__img {
	margin: 20px auto;
	width: 100%;
	box-shadow: 0px 0px 5px #888;
}

.cover-section__title{
	position: absolute;
	top: -99999px;
	left: -99999px;
}

/*FEATURED-WORK SECTION*/

.featured-work-section__title {
	font-size: 25px;
	color: #7d97ad;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 300;
	margin-top: 0;
}

.container,
.row {
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.col-4 {
	width: 100%;
	transition: 0.3s;
}

.col-4__img {
	width: 100%;
	box-shadow: 0px 0px 5px #888;
}

.col-4__title {
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	transition: 0.3s;
	color: #2d3c49;
}

.col-4__link {
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	color: #777;
	transition: 0.3s;
}


/*Responisveness*/

@media screen and (max-width: 599px) {
	.header__person-info__title{
		font-size: 20px;
		transition: 0.3s;
	}
	.header__person-info__job{
		font-size: 11px;
		transition: 0.3s;
	}
}

@media screen and (min-width: 599px) {
	.col-4 {
		width: calc(100% / 2 - 5px);
		transition: 0.3s;
	}
	.col-4__title {
		text-align: center;
		margin: 0;
		margin-top: 19px !important;
		transition: 0.3s;
	}
	.col-4__link {
		text-align: center;
		margin-top: 5px !important;
		transition: 0.3s;
	}
}

@media screen and (min-width: 1000px) {
	.col-4 {
		width: calc(100% / 3 - 10px);
		transition: 0.3s;
	}
}
